.parte1{
    background-color: rgba(0, 0, 255, 0.438);
    color:#000000f0
}

.titulo-principal{
    text-align: center;
    color:rgb(17, 248, 248);
    size: 18px;
}

.parte2{
   background-color: rgba(255, 0, 0, 0.215);
    color:#000000f0  
}