
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playwrite+US+Trad+Guides&family=Rubik+Wet+Paint&family=Sixtyfour+Convergence&display=swap');

:root{
    ---cor-de-fundo:#762828;
    ---cor-da-fonte:#abb81ff4;

}

body{

    background-color: var(---cor-de-fundo);
    color:var(---cor-da-fonte);
    text-align: justify;

}